/*///////FIXES////////*/

.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	
}

.divider{
	margin-top: 150px;	
}


/*///////GLOBAL////////*/

body{
	background-color: #ccc;

}


/*///////MEDIA////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}


/*///////STYLES////////*/

.shadow {
  box-shadow: 0 3px 30px #333;
}

.border-right {
  border-right: 1px dotted white;
  padding-right: 30px;
}

.border-bottom {
  border-bottom: 1px dotted white;
  padding-bottom: 30px;
}


/*///////LAYOUT////////*/

.col-4{
	width: 32%;
	float: left;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}


/*///////HEADER////////*/

header {
	background-color: rgba(220,89,43,1);
	border-bottom: 2px black solid;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;

}

/*///////LOGO////////*/

#logo{
	float: left;
}

#logo h1{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 60px;
	position: relative;
	bottom: 30px;
}


/*///////NAVBAR////////*/

#navbar{
	float: right;
}

#navbar a{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 25px;
	padding: 2px 10px;
	text-decoration: none;
	color: black;
	position: relative;
	top: 30px;
	border-right: 2px solid black;
}

#navbar a.visited {
  text-decoration: none;
}


/*///////MAIN SECTIONS - HOME////////*/


section {
  padding: 10px;
  margin-bottom: 30px;
}

#foodList h3{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 32px;
	text-decoration: underline;
	text-align: center;
}

#foodList p{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 18px;
	text-align: center;
}

#motivation{
	clear: both;
	text-align: center;	
	bottom: 40px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 50px;
	color: white;
	text-decoration: overline underline;
	display: block;
	position-top: 100px;
}

#calculator{
	clear: both;
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	width: 32%;
	background-color: #eee;
}

#calculator h1{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 40px;
	color: green;
}

#calculate{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 24px;
	padding: 10px 10px;
	border: 5px solid green;
}

#weight{
	width: 100px;
	height: 40px;
	border: 1px solid green;
}


/*///////MAIN SECTIONS - DIET////////*/

#rec-1{
	background-color: #ccc;
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 18px;
}

#rec-1 img{
	width: 25%;
	height: 25%;
	float: left;
	margin-right: 2%;
}

#rec-1 p{
	text-align: center;
}

#rec-1 h2{
	text-align: center;
	margin-top: 0;
	text-decoration: underline;
}


/*///////FOOTER////////*/

footer{

	background-color: rgba(220,89,43,1);
	border-top: 2px black solid;
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center;
	height: 50px;
	width: 100%;
}

