/*///////FIXES////////*/

.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 4% 4%;
	margin-top: 6%;
	
}

/*///////GLOBAL////////*/

body{
	background-color: #ccc;

}

.shadow {
  box-shadow: 0 3px 30px #333;
}

.border-right {
  border-right: 1px dotted white;
  padding-right: 30px;
}

.border-bottom {
  border-bottom: 1px dotted white;
  padding-bottom: 30px;
}

/*///////LAYOUT////////*/

.col-4{
	width: 32%;
	float: left;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/*///////HEADER////////*/

header {
	background-color: rgba(220,89,43,1);
	border-bottom: 2px black solid;
	display: block;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;

}

.logo{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 24px;
	float: left;
	position: relative;
	bottom: 24px;
	left: 165px;
}

/*///////NAVBAR////////*/

.navbar{
	float: right;
	position: relative;	
	right: 160px;
	top: 24px;
	
}

.navbar a{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 25px;
	background: #ccc;
	border: 1px solid black;
	border-radius: 3px 3px 3px 3px;
	margin-right: 5px;
	padding: 1% 1%;	
	text-decoration: none;
	text-align: center;

}

.navbar a.visited {
  text-decoration: none;
}

/*///////MAIN SECTIONS - HOME PAGE////////*/


section {
  padding: 30px;
  margin-bottom: 30px;
  background: white;
}

#protein{
	background-color: #ccc;
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 18px;
}

#carb{
	background-color: #ccc;
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 18px;
}

#fat{
	background-color: #ccc;
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 18px;
}

section h3{
	font-size: 32px;
	text-decoration: underline;
}

.motivation{
	clear: both;
	text-align: center;	
	bottom: 40px;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 50px;
	color: white;
	text-decoration: overline underline;
	display: block;
	position-top: 100px;
}

/*///////MAIN SECTIONS - DIET////////*/

#rec-1{
	background-color: #ccc;
	text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 18px;
}

#rec-1 img{
	width: 25%;
	height: 25%;
	float: left;
	margin-right: 2%;
}

#rec-1 p{
	text-align: center;
}

#rec-1 h2{
	text-align: center;
	margin-top: 0;
	text-decoration: underline;
}


/*///////FOOTER////////*/

footer{

	background-color: rgba(220,89,43,1);
	border-top: 2px black solid;
	font-family: 'Pathway Gothic One', sans-serif;
	padding: 1px 1px;
	height: 40px;
	left: 0;
}

footer p{
	left: 165px;
	position: relative;
	bottom: 5px;
}

/*///////SOCIAL////////*/

#social{
	position: relative;
	float: right;
	right: 170px;
	bottom: 50px;

}

a.fbook, a.twit, a.gplus {
  background: url(../images/social-icons.png) no-repeat;
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: -40px 0; }
a.fbook:active { background-position: -80px 0; }

a.twit { background-position: 0 -40px; }
a.twit:hover { background-position: -40px -40px; }
a.twit:active { background-position: -80px -40px; }

a.gplus { background-position: 0 -80px; }
a.gplus:hover { background-position: -40px -80px; }
a.gplus:active { background-position: -80px -80px; }

#social a {
  width: 30px;
  height: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

/*///////MEDIA////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}